![article](article.jpg)

<hr style="border:0.02in solid gray"> </hr>

<center><font color=#555555><font size=6> Laboratorio 3: Behavioral Finance </font> <br> <br>
    
<center><font color=#555555><font size=5> MODULO 3. Behavioral Finance  </font> <br> <br> <br> <br>

<center><font color=#555555><font size=4> Dayana Navarro Valencia if721470 </font> <br> <br>
    
<center><font color=#555555><font size=4> Jesús Sebastián González Ortiz if721621 </font> <br> <br>
    
<center><font color=#555555><font size=4> Jorge Alberto Hernández Hernández if730342 </font> <br> <br>


   
<center> <font color= #555555> <font size = 4> Octubre.2022 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/DayanaNavarro/LAB3_MYST'>Link</a></font>

<hr style="border:0.02in solid gray"> </hr>

<font color= #555555> <font size = 4> Abstract </font>

En este trabajo nos concentraremos en el Behavioral Finance, que es una corriente relativamente nueva dentro de la economía financiera que estudia cómo afecta la psicología a la toma de decisiones financieras, este estudio se realizo con los siguientes métodos:

Un estudio de los historicos de operaciones de traiding de cada integrante de equipo, primero con la lectura de los archivos,la determinación del tamaño de los pips utilizandos dependiendo del símbolo, agregando columnas de tiempo en segundos que duro abierta la operación, una columna donde debe de estar la cantidad de pips resultantes por cada operación, una tabla de estadisticas y otra que muestre el ratio de efectividad de las operaciones realizadas con cada instrumento operado, otra tabla de evolución de capital donde se muestran las fechas en las que se operó, el profit por dia por cada dia de todos los contenidos en el periodo que hiciste trading y el profit acumulado que representa el capital diario de tu cuenta de trading, otra tabla que muestre el sharpe ratio original y actualizado, además del capital y las fechas en que inciaron y finalizaron los DrawDown y DrawUp y por último el Behavioral Finance que será otra tabla con la cual se podrá recibir información sobre la presencia del Disposition Effect en el histórico de operaciones. Cada una de estas tablas con us respectivas visulizaciones con gráficas.

Propósito central del módulo
Poder contestar las siguientes preguntas:

1) ¿Qué métricas financieras pudieran ser útiles para medir el desempeño de un trader?

2) ¿Cuàles pudieran ser los errores sistemáticos que se cometen al momento de tomar decisiones de trading?

3) ¿A los errores identificados, cómo se podrían explicar?

4) ¿En mi actividad de trading del módulo 2, habré incurrido en este tipo de errores sistemáticos al momento de tomar mis decisiones?

# <font color= #6B6B6B> <font size = 6> 1. Introduction </font>

<hr style="border:0.02in solid gray"> </hr>

El Behavioral Finance lo investigaron en los años 70 los psicólogos Daniel Kahneman y Amos Tversky, autores del artículo ‘Prospect Theory: An Analysis of Decision under Risk’. Ellos plantearon con evidencia empírica que los seres humanos son irracionales de forma consistente.

Más adelante, los economistas Robert Shiller y Richard Thaler ganaron el premio Nobel de Economía gracias a sus hallazgos en esta área de investigación.

A lo largo de nuestra vida debemos tomar decisiones económicas, de mayor o menor trascendencia, pero todas influenciadas por varios elementos. Como las prioridades, el tiempo de espera y los beneficios a obtener; sin embargo no todo se basa en la racionalidad. 

La teoría de Behavioral Finance ha reforzado que las emociones y el aspecto psicológico de los individuos tiene un peso importante en las decisiones financieras que toman, creando con esto sesgos psiológicos que afectan en los mercados financieros.

A pesar de que las finanzas conductuales tienen su origen en la psicología, sus implicaciones están tan ligadas al mundo económico que estudian ambos círculos académicos. 

Anteriormente se creía que los agentes económicos eran racionales, pero el riesgo e incertidumbre influyen en los inversionistas y eso se refleja en los mercados y como esto parece incidir en los precios de los mercados financieros.Y por qué los mercados son tan proclives a periodos de volatilidad o a la formación de burbujas en el precio de los activos.

Esta teoría se ha vuelto tan relevante para el análisis bursátil porque la euforia colectiva puede provocar grandes caídas o alzas en los precios. Aparentemente, no solo las noticias financieras o políticas tienen un impacto relevante en el mercado bursátil. 

Las finanzas conductuales ayudan a entender que las decisiones financieras en cuanto a inversiones, pagos, riesgos y deudas personales tienen mucha influencia emocional, sesgos y relación con el contexto de los seres humanos.

Esa comprensión ayuda a tomar mejores decisiones y a ser más racionales en los asuntos financieros; a analizar la lógica y eficiencia de los mercados, y sus distintos escenarios.

Definiendo lo anterior se explicaran algunos otros términos mencionados como:

Los pips que son el cambio mínimo posible de precio de un activo financiero. Para los pares de divisas, este es, generalmente, el cuarto dígito después del punto decimal.

El radio de sharpe original y actualizado,se utiliza para mostrar hasta qué punto el rendimiento de una inversión compensa al inversor por asumir riesgo en su inversión, es un buen método para medir la desviación standard de la rentabilidad de cualquier fondo individualmente y compararla con otros.

Los DrawDown y DrawUp, un drawdown se refiere a cuánto ha caído una cuenta desde su punto máximo hasta su punto mínimo en términos de capital o monto de inversión y el drawup se refiere a cuánto ha subido una cuenta desde su punto mínimo hasta su punto máximo en términos de capital o monto de inversión.

Este laboratorio tiene como propósito particular el elaborar herramientas para el análisis del desempeño de la actividad de trading, desde el punto de vista de la cuenta y desde el punto de vista de la persona que opera la cuenta (trader). Por lo tanto, este laboratorio estará dividido en 4 partes, cada una, servirá para cumplir con la estructura básica de proyectos para sistemas de trading y las otras 3 partes son relacionadas cada una a los propósitos del módulo completo.

# <font color= #6B6B6B> 2. Install/Load Packages and Depedencies </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 2.1 Python Packages </font> <font color= #555555>

In order to run this notebook, it is necessary to have installed and/or have the _requirements.txt_ file with the following:

- pandas>=1.1.0
- numpy>=1.19.1
- jupyter>=1.0.0
- chart_studio>=1.1
- plotly>=4.14

## <font color= #6B6B6B> 2.2 Files Dependencies </font> <font color= #555555>

The following are the file dependencies that are needed to run this notebook:

- files/Data1.csv : Históricos de operaciones
- files/Data2.csv : Históricos de operaciones
- files/Data3.csv : Históricos de operaciones
- files/instruments_pips.csv : "Pip size" de los instrumentos

## <font color= #6E6E6E> 2.3 Install Packages</font>

In [1]:
%%capture

# Install all the pip packages in the requirements.txt
import sys
!{sys.executable} -m pip install -r requirements.txt

In [1]:
import pandas as pd
from datetime import datetime
import statistics
import yfinance as yf
import numpy as np
from datetime import date, timedelta
import functions as fn
from yahoofinancials import YahooFinancials

<br>

# <font color= #6B6B6B> 3. Data Description </font>

<hr style="border:0.02in solid gray"> </hr>

Se utilizaron tres csv con las operaciones históricas de traiding de FxPro, dos con cuentas MetaTrader5 y una con MetaTarder4, por lo cual se hicieron algunas modificaciones, por ejemplo, para que los nombres de los índices coincidieran y que algunos números de los csv de los MetaTrader5 python lo leía como str porque había un espacio entre los número que no reconocía por lo que se tuvo que modificar ese espacio.

Nombre de la Data:

- Data1.csv **Jesús Sebastián González Ortiz**

- Data2.csv **Dayana Navarro Valencia**

- Data3.csv **Jorge Alberto Hernández Hernández**

# <font color= #6B6B6B> 4. Estadística Descriptiva  </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 4.1 Lectura de archivos </font> <font color= #555555>

**Jesús Sebastián González Ortiz**

In [2]:
data1 = fn.f_leer_archivo("Data1")

**Dayana Navarro Valencia**

In [3]:
data2 = fn.f_leer_archivo("Data2")

**Jorge Alberto Hernández Hernández**

In [4]:
data3 = fn.f_leer_archivo("Data3")

**Datos concatenados**

In [5]:
tabla = pd.concat([data1,data2,data3]).reset_index()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

**Data para el pip size**

In [6]:
instruments_pips = fn.f_leer_archivo("instruments_pips")

## <font color= #6B6B6B> 4.2 Pip size </font> <font color= #555555>

In [7]:
parametro = "EURUSD"
num_pips1 = fn.f_pip_size1(parametro, instruments_pips)
num_pips2 = fn.f_pip_size2(parametro)

## <font color= #6B6B6B> 4.3 Columnas tiempo </font> <font color= #555555>

**Jesús Sebastián González Ortiz**

In [8]:
data1 = fn.f_columnas_tiempos(data1)
data1.head()

,Fecha/Hora,Posición,Símbolo,Tipo,Volumen,Precio,S / L,T / P,Fecha/Hora.1,Precio.1,Comisión,Swap,Beneficio,Tiempo_abierta_seg
0,2022.09.19 00:41:39,58636731,EURUSD,sell,0.25,1.00118,NaN,1.00118,2022.09.19 01:01:31,1.00132,0,0.0,-3.47,1192.0
1,2022.09.19 01:38:20,58637474,EURUSD,sell,0.25,1.00143,1.00180,1.00100,2022.09.19 01:49:55,1.00172,0,0.0,-7.20,695.0
2,2022.09.19 01:51:41,58637575,EURUSD,buy,0.15,1.00173,1.00123,1.00194,2022.09.19 01:54:56,1.00195,0,0.0,3.30,195.0
3,2022.09.19 02:42:54,58637911,EURUSD,sell,0.15,1.00242,NaN,NaN,2022.09.19 02:53:49,1.00227,0,0.0,2.25,655.0
4,2022.09.19 02:57:02,58638028,EURUSD,sell,0.40,1.00190,1.00290,0.99990,2022.09.19 03:02:25,1.00290,0,0.0,-40.00,323.0

**Dayana Navarro Valencia**

In [9]:
data2 = fn.f_columnas_tiempos(data2)
data2.drop(['Unnamed: 13', 'Unnamed: 14'], axis=1).head()

,Fecha/Hora,Posición,Símbolo,Tipo,Volumen,Precio,S / L,T / P,Fecha/Hora.1,Precio.1,Comisión,Swap,Beneficio,Tiempo_abierta_seg
0,2022.09.19 06:48:22,78285033,EURUSD,buy,0.25,0.99981,0.99658,1.00106,2022.09.19 10:02:17,0.99658,0,0.00,-80.75,11635.0
1,2022.09.19 07:06:16,78285242,GBPUSD,buy,0.50,1.14047,1.13915,1.14125,2022.09.19 08:39:15,1.13915,0,0.00,-66.00,5579.0
2,2022.09.19 07:12:24,78285315,USDJPY,sell,0.25,143.14100,143.50700,142.65400,2022.09.19 10:49:03,143.52800,0,0.00,-67.41,12999.0
3,2022.09.19 07:20:10,78285400,EURCAD,sell,0.25,1.32833,1.33009,1.32560,2022.09.19 13:49:48,1.33009,0,0.00,-33.07,23378.0
4,2022.09.19 23:10:25,78323481,GBPUSD,buy,0.15,1.14354,1.14294,1.14397,2022.09.20 01:13:29,1.14397,0,-0.82,6.45,7384.0

**Jorge Alberto Hernández Hernández**

In [10]:
data3 = fn.f_columnas_tiempos(data3)
data3.head()

,Fecha/Hora,Posición,Símbolo,Tipo,Volumen,Precio,S / L,T / P,Fecha/Hora.1,Precio.1,Comisión,Swap,Beneficio,Tiempo_abierta_seg
0,2022.09.21 19:34:08,59582260,MSFT.O,buy,5.00,245.640,243.80,247.00,2022.09.21 21:00:05,243.760,0,0.0,-9.40,5157.0
1,2022.09.21 20:24:01,59603568,BRENT,buy,0.05,89.540,88.50,90.00,2022.09.21 20:40:32,90.027,0,0.0,24.35,991.0
2,2022.09.21 20:54:07,59614568,WTI,buy,0.02,83.528,83.00,83.60,2022.09.21 21:00:35,83.645,0,0.0,2.34,388.0
3,2022.09.21 21:14:59,59718675,NAT.GAS,buy,0.02,7.812,7.74,7.92,2022.09.22 04:11:59,7.733,0,-0.5,-15.80,25020.0
4,2022.09.21 21:22:07,59729477,GT.O,buy,30.00,12.270,12.00,12.35,2022.09.21 21:34:06,12.350,0,0.0,2.40,719.0

## <font color= #6B6B6B> 4.4 Columnas pips </font> <font color= #555555>

**Jesús Sebastián González Ortiz**

In [11]:
data1 = fn.f_columnas_pips(data1, fn.f_pip_size2)
data1.head()

,Fecha/Hora,Posición,Símbolo,Tipo,Volumen,Precio,S / L,T / P,Fecha/Hora.1,Precio.1,Comisión,Swap,Beneficio,Tiempo_abierta_seg,pips,pips_acm,profit_acm
0,2022.09.19 00:41:39,58636731,EURUSD,sell,0.25,1.00118,NaN,1.00118,2022.09.19 01:01:31,1.00132,0,0.0,-3.47,1192.0,1.4,1.4,-3.47
1,2022.09.19 01:38:20,58637474,EURUSD,sell,0.25,1.00143,1.00180,1.00100,2022.09.19 01:49:55,1.00172,0,0.0,-7.20,695.0,2.9,4.3,-10.67
2,2022.09.19 01:51:41,58637575,EURUSD,buy,0.15,1.00173,1.00123,1.00194,2022.09.19 01:54:56,1.00195,0,0.0,3.30,195.0,-2.2,2.1,-7.37
3,2022.09.19 02:42:54,58637911,EURUSD,sell,0.15,1.00242,NaN,NaN,2022.09.19 02:53:49,1.00227,0,0.0,2.25,655.0,-1.5,0.6,-5.12
4,2022.09.19 02:57:02,58638028,EURUSD,sell,0.40,1.00190,1.00290,0.99990,2022.09.19 03:02:25,1.00290,0,0.0,-40.00,323.0,10.0,10.6,-45.12

**Dayana Navarro Valencia**

In [12]:
data2 = fn.f_columnas_pips(data2, fn.f_pip_size2)
data2.drop(['Unnamed: 13', 'Unnamed: 14'], axis=1).head()

,Fecha/Hora,Posición,Símbolo,Tipo,Volumen,Precio,S / L,T / P,Fecha/Hora.1,Precio.1,Comisión,Swap,Beneficio,Tiempo_abierta_seg,pips,pips_acm,profit_acm
0,2022.09.19 06:48:22,78285033,EURUSD,buy,0.25,0.99981,0.99658,1.00106,2022.09.19 10:02:17,0.99658,0,0.00,-80.75,11635.0,32.3,32.3,-80.75
1,2022.09.19 07:06:16,78285242,GBPUSD,buy,0.50,1.14047,1.13915,1.14125,2022.09.19 08:39:15,1.13915,0,0.00,-66.00,5579.0,13.2,45.5,-146.75
2,2022.09.19 07:12:24,78285315,USDJPY,sell,0.25,143.14100,143.50700,142.65400,2022.09.19 10:49:03,143.52800,0,0.00,-67.41,12999.0,38.7,84.2,-214.16
3,2022.09.19 07:20:10,78285400,EURCAD,sell,0.25,1.32833,1.33009,1.32560,2022.09.19 13:49:48,1.33009,0,0.00,-33.07,23378.0,17.6,101.8,-247.23
4,2022.09.19 23:10:25,78323481,GBPUSD,buy,0.15,1.14354,1.14294,1.14397,2022.09.20 01:13:29,1.14397,0,-0.82,6.45,7384.0,-4.3,97.5,-240.78

**Jorge Alberto Hernández Hernández**

In [13]:
data3 = fn.f_columnas_pips(data3, fn.f_pip_size2)
data3.head()

,Fecha/Hora,Posición,Símbolo,Tipo,Volumen,Precio,S / L,T / P,Fecha/Hora.1,Precio.1,Comisión,Swap,Beneficio,Tiempo_abierta_seg,pips,pips_acm,profit_acm
0,2022.09.21 19:34:08,59582260,MSFT.O,buy,5.00,245.640,243.80,247.00,2022.09.21 21:00:05,243.760,0,0.0,-9.40,5157.0,188.0,188.0,-9.40
1,2022.09.21 20:24:01,59603568,BRENT,buy,0.05,89.540,88.50,90.00,2022.09.21 20:40:32,90.027,0,0.0,24.35,991.0,-48.7,139.3,14.95
2,2022.09.21 20:54:07,59614568,WTI,buy,0.02,83.528,83.00,83.60,2022.09.21 21:00:35,83.645,0,0.0,2.34,388.0,-11.7,127.6,17.29
3,2022.09.21 21:14:59,59718675,NAT.GAS,buy,0.02,7.812,7.74,7.92,2022.09.22 04:11:59,7.733,0,-0.5,-15.80,25020.0,7.9,135.5,1.49
4,2022.09.21 21:22:07,59729477,GT.O,buy,30.00,12.270,12.00,12.35,2022.09.21 21:34:06,12.350,0,0.0,2.40,719.0,-8.0,127.5,3.89

## <font color= #6B6B6B> 4.5 Estadísticas </font> <font color= #555555>


**Jesús Sebastián González Ortiz**

In [13]:
df_1_tabla_data1 = fn.f_estadisticas_ba(data1, fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla_data1[0]

               Media      Valor                            Descripcion
0        Ops totales  28.000000                    Operaciones totales
1          Ganadoras  15.000000                  Operaciones ganadoras
2        Ganadoras_c   5.000000           Operaciones ganadoras compra
3        Ganadoras_v  10.000000            Operaciones ganadoras venta
4         Perdedoras  13.000000                 Operaciones Perdedoras
5       Perdedoras_c   6.000000          Operaciones Perdedoras compra
6       Perdedoras_v   7.000000           Operaciones Perdedoras venta
7   Mediana (profit)   2.625000       Mediana de profit de operaciones
8      Mediana(pips)  -0.550000         Mediana de pips de operaciones
9      r_efectividad   0.535714  Ganadoras Totales/Operaciones Totales
10      r_proporcion   1.153846   Ganadoras Totales/Perdedoras Totales
11   r_efectividad_c   0.178571  Ganadoras Compras/Operaciones Totales
12   r_efectividad_v   0.357143  Ganadoras Ventas/ Operaciones Totales

In [14]:
df_1_tabla_data1 = fn.f_estadisticas_ba(data1, fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla_data1[1]

   Símbolo    rank
0   EURUSD  53.85%
1   USDJPY  55.56%
2  BITCOIN   50.0%

**Dayana Navarro Valencia**

In [15]:
df_1_tabla_data2 = fn.f_estadisticas_ba(data2, fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla_data2[0]

               Media      Valor                            Descripcion
0        Ops totales  21.000000                    Operaciones totales
1          Ganadoras   6.000000                  Operaciones ganadoras
2        Ganadoras_c   5.000000           Operaciones ganadoras compra
3        Ganadoras_v   1.000000            Operaciones ganadoras venta
4         Perdedoras  15.000000                 Operaciones Perdedoras
5       Perdedoras_c   5.000000          Operaciones Perdedoras compra
6       Perdedoras_v  10.000000           Operaciones Perdedoras venta
7   Mediana (profit)  -1.610000       Mediana de profit de operaciones
8      Mediana(pips)   4.300000         Mediana de pips de operaciones
9      r_efectividad   0.285714  Ganadoras Totales/Operaciones Totales
10      r_proporcion   0.400000   Ganadoras Totales/Perdedoras Totales
11   r_efectividad_c   0.238095  Ganadoras Compras/Operaciones Totales
12   r_efectividad_v   0.047619  Ganadoras Ventas/ Operaciones Totales

In [16]:
df_1_tabla_data2 = fn.f_estadisticas_ba(data2, fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla_data2[1]

  Símbolo    rank
0  EURUSD   40.0%
1  GBPUSD   40.0%
2  USDJPY  33.33%
3  EURCAD    0.0%

**Jorge Alberto Hernández Hernández**

In [17]:
df_1_tabla_data3 = fn.f_estadisticas_ba(data3, fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla_data3[0]

               Media      Valor                            Descripcion
0        Ops totales  42.000000                    Operaciones totales
1          Ganadoras  25.000000                  Operaciones ganadoras
2        Ganadoras_c  10.000000           Operaciones ganadoras compra
3        Ganadoras_v  15.000000            Operaciones ganadoras venta
4         Perdedoras  17.000000                 Operaciones Perdedoras
5       Perdedoras_c  14.000000          Operaciones Perdedoras compra
6       Perdedoras_v   3.000000           Operaciones Perdedoras venta
7   Mediana (profit)  11.960000       Mediana de profit de operaciones
8      Mediana(pips)  -3.100000         Mediana de pips de operaciones
9      r_efectividad   0.595238  Ganadoras Totales/Operaciones Totales
10      r_proporcion   1.470588   Ganadoras Totales/Perdedoras Totales
11   r_efectividad_c   0.238095  Ganadoras Compras/Operaciones Totales
12   r_efectividad_v   0.357143  Ganadoras Ventas/ Operaciones Totales

In [19]:
df_1_tabla_data3 = fn.f_estadisticas_ba(data3, fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla_data3[1]

    Símbolo    rank
0    MSFT.O    0.0%
1     BRENT   50.0%
2       WTI   75.0%
3   NAT.GAS  33.33%
4      GT.O  100.0%
5   RENA.PA    0.0%
6    GBPUSD  63.64%
7    CADCHF    0.0%
8    EURGBP    0.0%
9    AUDCAD    0.0%
10   EURMXN    0.0%
11   EURCAD    0.0%
12   EURJPY  66.67%
13   USDJPY  100.0%
14   GBPJPY   80.0%
15   EURUSD  100.0%
16   CHFJPY  100.0%
17   USDCAD  100.0%

**ESTADISTICAS TOTALES (DATOS CONCATENADOS)**

In [18]:
df_1_tabla = fn.f_estadisticas_ba2(tabla,fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla[0]

               Media      Valor                            Descripcion
0        Ops totales  91.000000                    Operaciones totales
1          Ganadoras  46.000000                  Operaciones ganadoras
2        Ganadoras_c  20.000000           Operaciones ganadoras compra
3        Ganadoras_v  26.000000            Operaciones ganadoras venta
4         Perdedoras  45.000000                 Operaciones Perdedoras
5       Perdedoras_c  25.000000          Operaciones Perdedoras compra
6       Perdedoras_v  20.000000           Operaciones Perdedoras venta
7   Mediana (profit)   0.100000       Mediana de profit de operaciones
8      Mediana(pips)  -0.100000         Mediana de pips de operaciones
9      r_efectividad   0.505495  Ganadoras Totales/Operaciones Totales
10      r_proporcion   1.022222   Ganadoras Totales/Perdedoras Totales
11   r_efectividad_c   0.219780  Ganadoras Compras/Operaciones Totales
12   r_efectividad_v   0.285714  Ganadoras Ventas/ Operaciones Totales

In [19]:
df_1_tabla = fn.f_estadisticas_ba2(tabla,fn.f_columnas_pips, fn.f_pip_size2)
df_1_tabla[1]

    Símbolo    rank
0    EURUSD   55.0%
1    USDJPY  52.94%
2   BITCOIN   50.0%
3    GBPUSD  56.25%
4    EURCAD    0.0%
5    MSFT.O    0.0%
6     BRENT   50.0%
7       WTI   75.0%
8   NAT.GAS  33.33%
9      GT.O  100.0%
10  RENA.PA    0.0%
11   CADCHF    0.0%
12   EURGBP    0.0%
13   AUDCAD    0.0%
14   EURMXN    0.0%
15   EURJPY  66.67%
16   GBPJPY   80.0%
17   CHFJPY  100.0%
18   USDCAD  100.0%

<br>

# <font color= #6B6B6B> 5. Métricas de Atribución al Desempeño. </font>

<hr style="border:0.02in solid gray"> </hr>

**Jesús Sebastián González Ortiz**

In [21]:
# Fechas Precio Ajustados Datos1
yahoo_financials = YahooFinancials('^GSPC')
data = yahoo_financials.get_historical_price_data(start_date='2022-09-19', 
                                                 end_date='2022-09-26', time_interval="daily")
Prices1= pd.DataFrame(data['^GSPC']['prices'])
Prices1 =Prices1.drop('date', axis=1).set_index('formatted_date')
Prices = Prices1['adjclose']

In [22]:
evo_capital_data1=fn.f_evolucion_capital(data1)
evo_capital_data1[0]

   timestamp  profit_d  profit_acm_d
0 2022-09-19    -45.12      99954.88
1 2022-09-20    168.00     100122.88
2 2022-09-21    -22.16     100100.72
3 2022-09-22     32.32     100133.04
4 2022-09-23     20.03     100153.07
5 2022-09-24   -717.38      99435.69
6 2022-09-25      0.00      99435.69
7 2022-09-26  -1119.14      98316.55

In [23]:
Me_atri_desem1= fn.f_estadisticas_mad(data1,Prices)
Me_atri_desem1

,metrica,Valor,Descripcion
0,sharpe_original,-10.745,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,2.2916,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi[Fecha Incial],2022-09-25,Fecha inicial del DrawDown de Capital
3,drawdown_capi[Fecha final],2022-09-26,Fecha final del DrawDown de Capital
4,drawdown_capi[$ capital],98316.6,Máxima pérdida flotante registrada
5,drawup_capi[Fecha Inicial],2022-09-22,Fecha inicial del DrawUp de Capital
6,drawup_capi[Fecha Final],2022-09-23,Fecha final del DrawUp de Capital
7,drawup_capi[$ capital],100153,Máxima ganancia flotante registrada

**Dayana Navarro Valencia**

In [25]:
yahoo_financials = YahooFinancials('^GSPC')
data = yahoo_financials.get_historical_price_data(start_date='2022-09-19', 
                                                 end_date='2022-09-22', time_interval="daily")
Prices2= pd.DataFrame(data['^GSPC']['prices'])
Prices2 =Prices2.drop('date', axis=1).set_index('formatted_date')
Prices = Prices2['adjclose']

In [26]:
evo_capital_data2=fn.f_evolucion_capital(data2)
evo_capital_data2[0]

   timestamp  profit_d  profit_acm_d
0 2022-09-19   -247.23      99752.77
1 2022-09-20    -28.82      99723.95
2 2022-09-21    -32.60      99691.35
3 2022-09-22     -0.25      99691.10

In [27]:
Me_atri_desem2= fn.f_estadisticas_mad(data2,Prices)
Me_atri_desem2

,metrica,Valor,Descripcion
0,sharpe_original,-283.101,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,78.8764,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi[Fecha Incial],2022-09-21,Fecha inicial del DrawDown de Capital
3,drawdown_capi[Fecha final],2022-09-22,Fecha final del DrawDown de Capital
4,drawdown_capi[$ capital],99691.1,Máxima pérdida flotante registrada
5,drawup_capi[Fecha Inicial],2022-09-18,Fecha inicial del DrawUp de Capital
6,drawup_capi[Fecha Final],2022-09-19,Fecha final del DrawUp de Capital
7,drawup_capi[$ capital],99752.8,Máxima ganancia flotante registrada

**Jorge Alberto Hernández Hernández**

In [20]:
yahoo_financials = YahooFinancials('^GSPC')
data = yahoo_financials.get_historical_price_data(start_date='2022-09-21', 
                                                 end_date='2022-09-26', time_interval="daily")
Prices3= pd.DataFrame(data['^GSPC']['prices'])
Prices3 =Prices3.drop('date', axis=1).set_index('formatted_date')
Prices = Prices3['adjclose']

In [21]:
evo_capital_data3=fn.f_evolucion_capital(data3)
evo_capital_data3[0]

   timestamp  profit_d  profit_acm_d
0 2022-09-21     19.69     100019.69
1 2022-09-22   -393.93      99625.76
2 2022-09-23  -1963.80      97661.96
3 2022-09-24      0.00      97661.96
4 2022-09-25      0.00      97661.96
5 2022-09-26   3094.47     100756.43

In [22]:
Me_atri_desem3= fn.f_estadisticas_mad(data3,Prices)
Me_atri_desem3

,metrica,Valor,Descripcion
0,sharpe_original,-2.59123,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,0.773045,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi[Fecha Incial],2022-09-22,Fecha inicial del DrawDown de Capital
3,drawdown_capi[Fecha final],2022-09-25,Fecha final del DrawDown de Capital
4,drawdown_capi[$ capital],97662,Máxima pérdida flotante registrada
5,drawup_capi[Fecha Inicial],2022-09-25,Fecha inicial del DrawUp de Capital
6,drawup_capi[Fecha Final],2022-09-26,Fecha final del DrawUp de Capital
7,drawup_capi[$ capital],100756,Máxima ganancia flotante registrada

<br>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# In here you present the general results, and also, a discussion of such results.

<br>

## <font color= #6B6B6B> 5.1 Results of first processes </font>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# Separate your results according to the main processes you are working on

<br>

## <font color= #6B6B6B> 5.2 Results of another proces </font>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# You can have several processes with which you are obtaining the results you need.

<br>

# <font color= #6B6B6B> <font size = 6> 6. References </font>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# Citations, and other references you are using.

# DO INCLUDE THE FOLLOWING CITATION FOR THIS TEMPLATE

https://es.rankiapro.com/importancia-behavioral-finance/


https://media.gbm.com/blog/que-es-el-behavioral-finance-y-como-se-ve-en-el-mercado-bursatil/


https://www.selfbank.es/centro-de-ayuda/fondos-de-inversion/que-es-el-ratio-de-sharpe#:~:text=Se%20calcula%20dividiendo%20la%20rentabilidad,rentabilidad%20en%20el%20mismo%20periodo.

[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).

<br>